.our-donor-page-donor-logo {
  border-radius: 25px;
}

.our-donor-page-donor-logo-accent {
  position: relative;
  margin-bottom: 3vh;

  &::before {
    content: '';
    position: absolute;
    width: 8vw;
    height: 4vw;
    background-color: var(--primary);
    z-index: -1;
    border-radius: 10px;
    top: 20%;
    right: 40%;

    @media (max-width: 992px) {
      top: 30%;
      right: 70%;
      height: 8vw;
    }

    @media (max-width: 768px) {
      top: 30%;
      right: 70%;
      height: 10vw;
      width: 15vw;
    }
  }
}
