.payment-section-container {
  padding: 20px;
}

.payment-title-wrapper {
  position: relative;
  margin-bottom: 3vh;

  &::before {
    content: '';
    position: absolute;
    bottom: 40%;
    left: 42.5%;
    width: 4vw;
    height: 3vw;
    background-color: var(--primary);
    z-index: -1;
    border-radius: 10px;
  }

  .payment-title {
    display: block;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    z-index: 1;
    background-color: var(--background-light);
  }

  @media (max-width: 767px) {
    &::before {
      bottom: 40%;
      left: 5%;
      width: 15vw;
      height: 15vw;
    }
  }
}

.payment-option-wrapper {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  }

  .payment-button {
    background-color: var(--primary);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--primary);
    }
  }
}

.payment-option-form {
  border: none;
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 700;

  &:focus {
    box-shadow: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::placeholder {
    font-size: inherit;
    font-weight: inherit;
  }
}

@media (min-width: 1200px) {
  .payment-option-form {
    font-size: 2.5rem;
  }
}
