@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  font-family: 'Titillium Web', serif;
}

:root {
  --background-light: #f1ece7;
  --primary: #eea35d;
  --on-primary: #3e250e;
  --text-primary: #2e2114;
  --text-secondary: #b9b9b9;
  --text-muted: #b9b9b9;
}

body {
  margin: 0;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-light);
  color: var(--text-primary);
}

html {
  font-size: 16px;
}
